*, *::after, *::before{
    box-sizing: border-box;
    outline: 0;
}
html{
    scroll-behavior: smooth;
}
@font-face {
    font-family: '7 days';
    src: url('./7days/7DAYSFAT.TTF');
}
body{
    margin: 0;    
}
header{
    background-color: #2c292933;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    border-bottom: 1.5px solid #7fffd4;
    font-family: '7 days';
    font-size: 0.8em;
    font-weight: bold;
    animation-name: blurReduciendo;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
    animation-name: opImHeader;
    animation-duration: 4.8s;
    animation-delay: 0.5s;
    backdrop-filter: blur(2px);

}
header img{
    width: 10%;
    margin: 0 2rem 0 2rem;
    

}
nav{
    width: 100%;
    display: flex;
    align-items: center;
}
nav ul{
   display: flex; 
   margin: 0;
   list-style: none;    
}
nav ul:nth-of-type(2){
    padding: 0 40px 0 0;
}
nav li:first-child{
    margin-right: 8rem;
}
nav a{
    text-decoration: none;
    color: white;    
}
#cabecera img{
    width: 100%;

}



.animation-intro{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    align-items: center;
    z-index: 1;
    animation-name: entradaLogo;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
    color: white;
}
h1{
    margin: 0;
    animation-name: separacionTitulo;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
    animation-timing-function:linear;
    overflow: hidden;
    white-space: nowrap;
    font-family: '7 days';
    font-size: 1.2em;
    text-align: center;
}

.animation-intro img{
    animation-name: tamañoImg;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
   
}
@keyframes opImHeader {
    0%{
        opacity: 0;
    }80%{
        opacity: 0.08;
    }100%{
        opacity: 1;
    }
}
@keyframes tamañoImg {
    0%{
        width: 60%;
    }
    100%{
        width: 10%;
        margin: 4rem 3rem 0 4.5rem;
        transform: translateY(-21rem);
    }

    
}
@keyframes opImagen {
    0%{
        opacity: 0;
    }50%{
        opacity: 0.5;
    }100%{
        opacity: 1;
    }
}
@keyframes entradaLogo {
    0%{
        opacity: 1;
        filter: blur(0px);
    }
    50%{
        opacity: 1;
        /* filter: blur(1px); */
   
    }
    100%{
        opacity: 0;
        /* width: 0vw; */
        /* filter: blur(2px); */
        background-color: ghostwhite;
        /* height: 0vh; */
        
    }
}
@keyframes blurReduciendo {
    0%{
        filter: blur(6.5px);
    }50%{
        filter: blur(4px);
    }75%{
        filter: blur(2px);
    }
    100%{
        filter: blur(0px);
    }
}
@keyframes separacionTitulo {
    0%{
        letter-spacing: inherit;
    }
    100%{
        letter-spacing: 1.5rem;
    }
}
.animation-intro img{
    width: 60%;
}